@import "tailwindcss";

@theme {
  --color-primary: #00f3ff;
  --color-primary-glow: rgba(0, 243, 255, 0.5);
  --color-secondary: #ff003c;
  --color-secondary-glow: rgba(255, 0, 60, 0.5);
  --color-dark-bg: #020205;
  --color-space-black: #000000;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-glow: pulse-glow 2s infinite;
}

:root {
  --background: #020205;
  --foreground: #e0e0e0;
}

body {
  background-color: var(--background);
  background-image:
    radial-gradient(circle at 50% 50%, rgba(0, 243, 255, 0.03) 0%, transparent 50%),
    radial-gradient(circle at 90% 10%, rgba(255, 0, 60, 0.03) 0%, transparent 30%);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
  box-shadow: 0 0 10px #00f3ff;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse-glow {

  0%,
  100% {
    box-shadow: 0 0 5px var(--color-primary-glow);
  }

  50% {
    box-shadow: 0 0 20px var(--color-primary-glow), 0 0 10px var(--color-primary);
  }
}